In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

In [2]:
df= pd.read_csv('movies.csv')
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

#### a little exploration on the dataset

In [3]:
df.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'STARS', 'VOTES',
       'RunTime', 'Gross'],
      dtype='object')

In [4]:
df.isnull().sum()

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [5]:
df.shape

(9999, 9)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [7]:
df.duplicated().sum()

431

In [8]:
df.head(3)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN

### formatting the columns

### movies
- no null vales, unwanted white space

In [9]:
df['MOVIES'] = df['MOVIES'].str.strip()

### Year

- removes the non-integer
- separate the year into start year and end year, by separating through -

In [10]:
df['YEAR'] = df['YEAR'].str.replace('[^0-9]', '')

C:\Users\Aniel\AppData\Local\Temp\ipykernel_5656\75526939.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['YEAR'] = df['YEAR'].str.replace('[^0-9]', '')

In [11]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,2021,"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,2021,"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,20102022,"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,2013,"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,2021,"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

In [12]:
df['YEAR'] = df['YEAR'].apply(lambda x: str(x))
df['YEAR'] = df['YEAR'].apply(lambda x: (x[0:4] + '-' + x[4:8]) if len(x)>4 else x)

In [13]:
#df['Start_Year'] = df['YEAR'].str.split(pat = '-').str[0]
#df['End_Year'] = df['YEAR'].str.split(pat = '-').str[1]

In [14]:
#df = df.drop(['YEAR'], axis = 1)

df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,2021,"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,2021,"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,2010-2022,"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,2013,"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,2021,"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

### Genre

In [15]:
df['GENRE'] = df['GENRE'].str.replace('\n', '')

# Replace NaN values in "Genre" column with empty strings
df['GENRE'] = df['GENRE'].fillna('')

df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,2021,"Animation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,2010-2022,"Drama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,2013,"Animation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,2021,"Action, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

### Rating

In [16]:
df['RATING'].isnull().sum()

1820

In [17]:
df['RATING'].unique()

array([6.1, 5. , 8.2, 9.2, nan, 7.6, 6.8, 8.6, 7.9, 7.4, 6. , 8.1, 6.2,
       5.4, 8. , 7.5, 9.4, 8.3, 8.7, 8.9, 8.8, 8.5, 8.4, 6.7, 7.7, 9. ,
       5.8, 3.3, 7.8, 5.7, 6.6, 6.9, 6.5, 7.1, 5.6, 7.3, 9.1, 7.2, 6.4,
       9.3, 7. , 6.3, 3.7, 5.5, 4.6, 4.8, 5.3, 4.7, 5.9, 5.1, 4.9, 2.7,
       4.4, 3.1, 4.5, 4.2, 3.8, 5.2, 2.8, 3.5, 4.3, 3.2, 1.1, 3.9, 4. ,
       3.4, 2.6, 3.6, 3. , 2.5, 2.2, 2.9, 4.1, 2.1, 2. , 2.3, 2.4, 1.8,
       9.6, 9.5, 9.7, 9.9, 9.8])

In [18]:
df['RATING'].fillna(0.0, inplace=  True)

In [19]:
df['RATING'].isnull().sum()

0

### One line

In [20]:
df['ONE-LINE'] = df['ONE-LINE'].str.replace('[^A-Za-z0-9]', ' ')

C:\Users\Aniel\AppData\Local\Temp\ipykernel_5656\112893422.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['ONE-LINE'] = df['ONE-LINE'].str.replace('[^A-Za-z0-9]', ' ')

In [21]:
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced i...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,2021,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may ...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,2010-2022,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a co...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,2013,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits ...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,2021,"Action, Crime, Horror",0.0,A prequel set before the events of Army of t...,\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

### Stars

In [22]:
# Splitting 'STARS' column into 'Director' and 'Stars'
df[['Director', 'Stars']] = df['STARS'].str.split(pat='Stars:', n=1, expand=True)

df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross,Director,Stars
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced i...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN,\n Director:\nPeter Thorwarth\n| \n,"\nPeri Baumeister, \nCarl Anton Koch, \nAlexan..."
1,Masters of the Universe: Revelation,2021,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may ...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN,\n \n,"\nChris Wood, \nSarah Michelle Gellar, \nLena ..."
2,The Walking Dead,2010-2022,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a co...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN,\n \n,"\nAndrew Lincoln, \nNorman Reedus, \nMelissa M..."
3,Rick and Morty,2013,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits ...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN,\n \n,"\nJustin Roiland, \nChris Parnell, \nSpencer G..."
4,Army of Thieves,2021,"Action, Crime, Horror",0.0,A prequel set before the events of Army of t...,\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN,\n Director:\nMatthias Schweighöfer\n| \n,"\nMatthias Schweighöfer, \nNathalie Emmanuel, ..."

In [23]:
# Cleaning director column
df['Director'] = df['Director'].str.split(':').str[-1].str.replace(r'[|\n]', '').str.strip()
df['Stars'] = df['Stars'].str.replace('\n', '')

C:\Users\Aniel\AppData\Local\Temp\ipykernel_5656\1331119750.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Director'] = df['Director'].str.split(':').str[-1].str.replace(r'[|\n]', '').str.strip()

In [24]:
df = df.drop(['STARS'] , axis = 1)
df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,VOTES,RunTime,Gross,Director,Stars
0,Blood Red Sky,2021,"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced i...,"21,062",121.0,NaN,Peter Thorwarth,"Peri Baumeister, Carl Anton Koch, Alexander Sc..."
1,Masters of the Universe: Revelation,2021,"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may ...,"17,870",25.0,NaN,,"Chris Wood, Sarah Michelle Gellar, Lena Headey..."
2,The Walking Dead,2010-2022,"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a co...,"885,805",44.0,NaN,,"Andrew Lincoln, Norman Reedus, Melissa McBride..."
3,Rick and Morty,2013,"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits ...,"414,849",23.0,NaN,,"Justin Roiland, Chris Parnell, Spencer Grammer..."
4,Army of Thieves,2021,"Action, Crime, Horror",0.0,A prequel set before the events of Army of t...,NaN,NaN,NaN,Matthias Schweighöfer,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby..."

In [25]:
df[df['MOVIES'].isin(['Dumbo'])]

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,VOTES,RunTime,Gross,Director,Stars
1373,Dumbo,1941,"Animation, Adventure, Drama",7.2,Ridiculed because of his enormous ears a you...,"124,409",64.0,$1.60M,"Samuel Armstrong, Norman Ferguson, Wilfred Jac...","Sterling Holloway, Edward Brophy, Herman Bing,..."

check for null

In [26]:
df['Director'].isnull().sum()

0

In [27]:
df['Stars'].isnull().sum()

1384

In [28]:
df['Stars'].fillna('Others', inplace = True)

In [29]:
df['Stars'].isnull().sum()

0

In [30]:
df.query('Stars == "Others"')

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,VOTES,RunTime,Gross,Director,Stars
24,He-Man and the Masters of the Universe,2021,"Animation, Action, Adventure",0.0,Eternia s Prince Adam discovers the power of ...,NaN,NaN,NaN,,Others
235,Sexy Beasts,2021,"Reality-TV, Romance",4.7,Hoping to say goodbye to superficial dating ...,592,NaN,NaN,Rob Delaney,Others
1027,Myth & Mogul: John DeLorean,2021,"Documentary, Biography, Crime",7.0,In the automotive world John DeLorean rose f...,213,NaN,NaN,,Others
1155,The Killer,,"Action, Crime, Drama",0.0,Plot unknown,NaN,NaN,NaN,Michael Fassbender,Others
1184,Our Planet,2019,Documentary,9.3,Documentary series focusing on the breadth of...,"36,473",403.0,NaN,David Attenborough,Others
...,...,...,...,...,...,...,...,...,...,...
9990,1899,2022,"Drama, History, Horror",0.0,Add a Plot,NaN,NaN,NaN,Baran bo Odar,Others
9991,1899,2022,"Drama, History, Horror",0.0,Add a Plot,NaN,NaN,NaN,Baran bo Odar,Others
9992,1899,2022,"Drama, History, Horror",0.0,Add a Plot,NaN,NaN,NaN,Baran bo Odar,Others
9995,Arcane,2021,"Animation, Action, Adventure",0.0,Add a Plot,NaN,NaN,NaN,,Others
9996,Heart of Invictus,2022,"Documentary, Sport",0.0,Add a Plot,NaN,NaN,NaN,Prince Harry,Others

### Vote columns

In [31]:
df['VOTES'].isnull().sum()

1820

In [32]:
df.loc[df['VOTES'].isnull()].head(5)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,VOTES,RunTime,Gross,Director,Stars
4,Army of Thieves,2021,"Action, Crime, Horror",0.0,A prequel set before the events of Army of t...,NaN,NaN,NaN,Matthias Schweighöfer,"Matthias Schweighöfer, Nathalie Emmanuel, Ruby..."
24,He-Man and the Masters of the Universe,2021,"Animation, Action, Adventure",0.0,Eternia s Prince Adam discovers the power of ...,NaN,NaN,NaN,,Others
214,Sing 2,2021,"Animation, Adventure, Comedy",0.0,Buster Moon and his friends must persuade rec...,NaN,NaN,NaN,Garth Jennings,"Matthew McConaughey, Taron Egerton, Tori Kelly..."
217,Knives Out 2,2022,"Comedy, Crime, Drama",0.0,Plot unknown Sequel to the 2019 film Knives...,NaN,NaN,NaN,Rian Johnson,"Madelyn Cline, Daniel Craig, Dave Bautista, Ka..."
222,Don't Look Up,2021,Comedy,0.0,The story of two low level astronomers who m...,NaN,145.0,NaN,Adam McKay,"Timothée Chalamet, Leonardo DiCaprio, Jennifer..."

In [33]:
df['VOTES'] = df['VOTES'].fillna('0')
df['VOTES'] = df['VOTES'].str.replace(',', '')

In [34]:
df.loc[df['VOTES'].isnull()]

Empty DataFrame
Columns: [MOVIES, YEAR, GENRE, RATING, ONE-LINE, VOTES, RunTime, Gross, Director, Stars]
Index: []

In [35]:
df['VOTES']= df['VOTES'].astype(int)

### RunTime column

In [36]:
df['RunTime'].isnull().sum()

2958

In [37]:
df['RunTime']=df['RunTime'].fillna(0.0)
df['RunTime'].isnull().sum()

0

### Gross Column

In [38]:
df.loc[df['Gross'].notnull()]

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,VOTES,RunTime,Gross,Director,Stars
77,The Hitman's Bodyguard,2017,"Action, Comedy, Crime",6.9,The world s top bodyguard gets a new client ...,205979,118.0,$75.47M,Patrick Hughes,"Ryan Reynolds, Samuel L. Jackson, Gary Oldman,..."
85,Jurassic Park,1993,"Action, Adventure, Sci-Fi",8.1,A pragmatic paleontologist visiting an almost...,897444,127.0,$402.45M,Steven Spielberg,"Sam Neill, Laura Dern, Jeff Goldblum, Richard ..."
95,Don't Breathe,2016,"Crime, Horror, Thriller",7.1,Hoping to walk away with a massive fortune a...,237601,88.0,$89.22M,Fede Alvarez,"Stephen Lang, Jane Levy, Dylan Minnette, Danie..."
111,The Lord of the Rings: The Fellowship of the Ring,2001,"Action, Adventure, Drama",8.8,A meek Hobbit from the Shire and eight compan...,1713028,178.0,$315.54M,Peter Jackson,"Elijah Wood, Ian McKellen, Orlando Bloom, Sean..."
125,Escape Room,2019,"Action, Adventure, Horror",6.4,Six strangers find themselves in a maze of de...,99351,99.0,$57.01M,Adam Robitel,"Taylor Russell, Logan Miller, Jay Ellis, Tyler..."
...,...,...,...,...,...,...,...,...,...,...
5750,Vidal Sassoon: The Movie,2010,Documentary,6.5,Vidal Sassoon is more than just a hairdresser...,245,90.0,$0.09M,Craig Teper,"Beverly Adams, Elgin Charles, Grace Coddington..."
5770,Men at Lunch,2012,"Documentary, Mystery",6.3,The story of Lunch atop a Skyscraper the i...,331,75.0,$0.00M,Seán Ó Cualáin,"Fionnula Flanagan, Peter Quinn, Ric Burns, Chr..."
5835,Decoding Deepak,2012,Documentary,5.5,Deepak Chopra s son Gotham spends a year tr...,124,83.0,$0.01M,Gotham Chopra,"Deepak Chopra, Gotham Chopra"
6056,Theo Who Lived,2016,Documentary,6.8,A documentary on American journalist Theo Pad...,111,86.0,$0.01M,Theo Padnos,Others
6292,Southern Justice,2006,"Action, Adventure, Thriller",3.1,M D Selig s feature thriller SOUTHERN JUSTI...,126,96.0,$0.14M,M.D. Selig,"M.D. Selig, Michael Childers, Lisa Robert, Ric..."

In [39]:
df['Gross'] = df['Gross'].str.replace('$', '').str.replace('M', '')
df['Gross'] = df['Gross'].astype(float)
df['Gross'] = df['Gross'].fillna(0.0)
df['Gross'].isnull().sum()

C:\Users\Aniel\AppData\Local\Temp\ipykernel_5656\1358484776.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Gross'] = df['Gross'].str.replace('$', '').str.replace('M', '')

0

In [40]:
df.sort_values(by=['Gross'],ascending=False)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,VOTES,RunTime,Gross,Director,Stars
329,Beauty and the Beast,2017,"Family, Fantasy, Musical",7.1,A selfish Prince is cursed to become a monste...,284484,129.0,504.01,Bill Condon,"Emma Watson, Dan Stevens, Luke Evans, Josh Gad"
578,Finding Dory,2016,"Animation, Adventure, Comedy",7.3,Friendly but forgetful blue tang Dory begins ...,250953,97.0,486.30,"Andrew Stanton, Angus MacLane","Ellen DeGeneres, Albert Brooks, Ed O'Neill, Ka..."
226,Captain America: Civil War,2016,"Action, Adventure, Sci-Fi",7.8,Political involvement in the Avengers affair...,697750,147.0,408.08,"Anthony Russo, Joe Russo","Chris Evans, Robert Downey Jr., Scarlett Johan..."
144,Jumanji: Welcome to the Jungle,2017,"Action, Adventure, Comedy",6.9,Four teenagers are sucked into a magical vide...,337900,119.0,404.52,Jake Kasdan,"Dwayne Johnson, Karen Gillan, Kevin Hart, Jack..."
196,Spider-Man,2002,"Action, Adventure, Sci-Fi",7.3,When bitten by a genetically modified spider ...,709684,121.0,403.71,Sam Raimi,"Tobey Maguire, Kirsten Dunst, Willem Dafoe, Ja..."
...,...,...,...,...,...,...,...,...,...,...
3584,Cek Toko Sebelah: The Series,2018-2019,Comedy,8.3,The series takes place when Erwin Ernest Pra...,96,22.0,0.00,,"Ernest Prakasa, Yusril Fahriza, Andi Awwe Wija..."
3585,The Testimony,2015,"Documentary, Short, Crime",7.3,The conflict in the Democratic Republic of th...,155,28.0,0.00,Vanessa Block,Others
3586,Miseu Hammurabi,2018,"Comedy, Drama",7.6,The series tells the story of the life of jud...,471,80.0,0.00,,"Go Ara, Myung-Soo Kim, Dong-il Sung, Deok-Hwan..."
3587,Aleksandr's Price,2013,Drama,4.9,Traumatized by his mother s death and struggl...,687,108.0,0.00,"Pau Masó, David Damen","Pau Masó, Anatoli Grigoriadou, Josh Berresford..."
9998,The Imperfects,2021,"Adventure, Drama, Fantasy",0.0,Add a Plot,0,0.0,0.00,Jovanka Vuckovic,"Morgan Taylor Campbell, Jennifer Cheon Garcia,..."

### After formatting the columns, let's do some small cleanup to the data and the dataset

In [41]:
df.columns

Index(['MOVIES', 'YEAR', 'GENRE', 'RATING', 'ONE-LINE', 'VOTES', 'RunTime',
       'Gross', 'Director', 'Stars'],
      dtype='object')

In [42]:
df = df.rename( columns = 
                   { 'MOVIES' : 'Movies', 'RATING' : 'Rating', 'ONE-LINE': 'Description', 'Gross': 'Gross (in million $)', 'VOTES':'Votes', 'GENRE':'Genre', 'YEAR':'Year'}
              )
df.columns

Index(['Movies', 'Year', 'Genre', 'Rating', 'Description', 'Votes', 'RunTime',
       'Gross (in million $)', 'Director', 'Stars'],
      dtype='object')

In [43]:
df = df.drop_duplicates(subset = ['Movies','Year','Genre', 'Director'])
df.sort_values(by=['Gross (in million $)' ], ascending = False, inplace = True)
df.reset_index(drop=True, inplace = True)
df.duplicated().sum()

0

In [44]:
df.dtypes

Movies                   object
Year                     object
Genre                    object
Rating                  float64
Description              object
Votes                     int32
RunTime                 float64
Gross (in million $)    float64
Director                 object
Stars                    object
dtype: object

In [45]:
df.head()

,Movies,Year,Genre,Rating,Description,Votes,RunTime,Gross (in million $),Director,Stars
0,Beauty and the Beast,2017,"Family, Fantasy, Musical",7.1,A selfish Prince is cursed to become a monste...,284484,129.0,504.01,Bill Condon,"Emma Watson, Dan Stevens, Luke Evans, Josh Gad"
1,Finding Dory,2016,"Animation, Adventure, Comedy",7.3,Friendly but forgetful blue tang Dory begins ...,250953,97.0,486.30,"Andrew Stanton, Angus MacLane","Ellen DeGeneres, Albert Brooks, Ed O'Neill, Ka..."
2,Captain America: Civil War,2016,"Action, Adventure, Sci-Fi",7.8,Political involvement in the Avengers affair...,697750,147.0,408.08,"Anthony Russo, Joe Russo","Chris Evans, Robert Downey Jr., Scarlett Johan..."
3,Jumanji: Welcome to the Jungle,2017,"Action, Adventure, Comedy",6.9,Four teenagers are sucked into a magical vide...,337900,119.0,404.52,Jake Kasdan,"Dwayne Johnson, Karen Gillan, Kevin Hart, Jack..."
4,Spider-Man,2002,"Action, Adventure, Sci-Fi",7.3,When bitten by a genetically modified spider ...,709684,121.0,403.71,Sam Raimi,"Tobey Maguire, Kirsten Dunst, Willem Dafoe, Ja..."

In [46]:
df.describe()

            Rating         Votes      RunTime  Gross (in million $)
count  7445.000000  7.445000e+03  7445.000000           7445.000000
mean      5.764956  1.645696e+04    58.580390              2.700183
std       2.606757  7.328904e+04    53.612882             23.013541
min       0.000000  0.000000e+00     0.000000              0.000000
25%       5.300000  1.120000e+02    21.000000              0.000000
50%       6.600000  8.300000e+02    53.000000              0.000000
75%       7.500000  4.251000e+03    93.000000              0.000000
max       9.700000  1.713028e+06   853.000000            504.010000

In [47]:
df.head()

,Movies,Year,Genre,Rating,Description,Votes,RunTime,Gross (in million $),Director,Stars
0,Beauty and the Beast,2017,"Family, Fantasy, Musical",7.1,A selfish Prince is cursed to become a monste...,284484,129.0,504.01,Bill Condon,"Emma Watson, Dan Stevens, Luke Evans, Josh Gad"
1,Finding Dory,2016,"Animation, Adventure, Comedy",7.3,Friendly but forgetful blue tang Dory begins ...,250953,97.0,486.30,"Andrew Stanton, Angus MacLane","Ellen DeGeneres, Albert Brooks, Ed O'Neill, Ka..."
2,Captain America: Civil War,2016,"Action, Adventure, Sci-Fi",7.8,Political involvement in the Avengers affair...,697750,147.0,408.08,"Anthony Russo, Joe Russo","Chris Evans, Robert Downey Jr., Scarlett Johan..."
3,Jumanji: Welcome to the Jungle,2017,"Action, Adventure, Comedy",6.9,Four teenagers are sucked into a magical vide...,337900,119.0,404.52,Jake Kasdan,"Dwayne Johnson, Karen Gillan, Kevin Hart, Jack..."
4,Spider-Man,2002,"Action, Adventure, Sci-Fi",7.3,When bitten by a genetically modified spider ...,709684,121.0,403.71,Sam Raimi,"Tobey Maguire, Kirsten Dunst, Willem Dafoe, Ja..."

In [48]:
df.to_csv('C:\\Users\\Aniel\\OneDrive\\Desktop\\Semester Break Learning Material\\Data analysis project\\movie dataset\\clean_dataset.csv')
df.to_csv('clean_clean_dataset.csv')

In [49]:
df.isnull().sum()

Movies                  0
Year                    0
Genre                   0
Rating                  0
Description             0
Votes                   0
RunTime                 0
Gross (in million $)    0
Director                0
Stars                   0
dtype: int64